body,
html {
    height: 100%;
    margin : 0;
    padding : 0;
}

body {
    background-color: #ECEFF1;
    display: flex;
    flex-direction: column;
    font-family : 'Noto Sans';
    font-size: 12px;
    -webkit-font-smoothing: subpixel-antialiased;
    justify-content: space-between;
}

header {
    display: flex;
    height : 144px;
    justify-content:flex-end;
}

header img {
    align-self: stretch;
}

h1 {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    height : 48px;
    line-height : 48px;
    margin: 0 0 0 16px;
    padding: 0;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    line-height : 48px;
    margin: 0 0 0 18px;
    padding: 0;
}

h3 {
    font-size: 12px;
    font-weight: 400;
    height: 52px;
    line-height : 52px;
    margin: 0 0 0 4px;
    padding: 0;
    color : grey;
}

.window-tools {
    width : 120px;
}


img {
    width: 20px;
    height : 20px;
}

section {
    background-color: #FFFFFF;
    margin: auto;
    width: 75%;
}

section.add-folders {
    margin-top: -96px;
}

section.list-path {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    margin-top: 24px;
}

div.choose-folder {
    background-repeat: no-repeat;
    background-image: url(../img/add.svg);
    background-position: -5px -55px;
    background-size: 50px;
    background-color: #00796B;

    /*border-radius: 40px;*/
    cursor: pointer;

    height: 40px;
    width: 40px;

    margin : 0;
    padding : 0;

    position: absolute;
        left : 20px;
        top : 124px;
}

div.section-header {
    display: flex;
    justify-content : space-between;
}

div.section-header--title {
    display: flex;
}

div.refresh-list {
    height: 24px;
    width: 24px;
    margin-right: 16px;
    margin-top: 12px;
    cursor: pointer;
    background-image: url(../img/refresh.svg);
    background-repeat: no-repeat;
}

ul {
    flex: 1;
    width : 100%;
    overflow: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0 16px 0 16px;
    margin: 0;
    display: block;
    border-bottom: 1px solid #cccccc;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
}


li:last-child {
    border : none;
}

li.valid-path::before {
	content: "";
    display: block;
    float: left;
	margin: 12px 16px 0 0;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/check.svg);
}

li.valid-path {
    cursor: pointer;
}

li.invalid-path::before {
	content: "";
    display: block;
    float: left;
	margin: 12px 16px 0 0;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/error.svg);
}

.folder-input {
    display: flex;
    justify-content : flex-end;
    margin : 18px 18px 0 18px;
}

.folder-input * {
    margin-bottom: 18px;
}

.folder-input button {
    min-width: 88px;
    height: 36px;
    border: none;
    font-size: 15px;
	-webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-family: 'Noto Sans' !important;
    font-variant: normal;
    font-style: normal;
    font-weight: 600;
    outline : none;
    cursor: pointer;
}

.holder {
    border: 2px dashed #ccc;
    margin: 0;
    height: 48px;
    color: #ccc;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    -webkit-user-select: none;
}

.holder:hover {
    border: 2px dashed #999;
    color: #eee;
}
.md-icon {
    font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
}

.md-icon.dp48 {
    font-size: 40px;
    width: 40px;
    height: 40px;
}
.md-icon {
    color: #00796B;
}

.icon-red::before { background-position: 0 0;}
.icon-teal::before { background-position: 0 100%;}
/*
h1 {
    padding: 0;
    margin: 0 0 0 32px;
    height : 72px;
    line-height : 72px;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
}

h2 {
    padding: 0;
    margin: 0 0 0 32px;
    font-size: 12pt;
    font-weight: 600;
}


header img {
    display: inline-block;
    line-height : 64px;
}

.frame {
    height : 24pt;
}



/**
 *  Couleur principale : Teal
 */
.bg-color-primary {
    color : #FFFFFF;
    background-color: #009688;
}

.bg-color-primary-dark {
    color : #FFFFFF;
    background-color: #00796B;
}

.bg-color-primary-50 {
    color : rgba(0,0,0,0.87);
    background-color: #E0F2F1;
}

/**
 * Effet d'altitudes
 */
.altitude-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.altitude-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.altitude-3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
.altitude-4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
.altitude-5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}

/**
 *  Couleur secondaire : Purple
 */
/*
.bg-color-accent,
.bg-color-accent:hover,
.bg-color-accent:focus,
.bg-color-accent:visited,
.bg-color-accent:active  {
    background-color: #00796B;
    color : rgba(255, 255, 255, 100);


}*/

/**
 * Loader with animations
 */
.loader {
    height: 32px;
    margin: 0px auto;
    width: 32px;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    margin: auto;
    transform-origin: center center;
    width: 100%;
}

.path {
    animation: dash 1.5s ease-in-out infinite;
    stroke: #009688;
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}

/* Not used */
@keyframes color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}
