body,html {
	padding : 0; margin : 0;

}

body {
   font-family : 'Roboto'; font-size: 12px;
}

img {
	width: 20px;
	height : 20px;
}

ul {
		overflow-y: auto;
		height : 150px;
		list-style-type: none;
		border: 1px solid #cccccc;
}

h1 {
		font-size: 12pt;
		font-weight: 600;
}

.container {
		padding-right: 30px;
		padding-left: 30px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
